.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
iOIOLibAndroid/build/
iOIOLibAndroidDevice/build/
*.iml
iOIOLibAndroidDevice/.idea/
iOIOLibBT/build/
iOIOLibAccessory/build/
.idea/
